body {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(45deg, #090213, #200a3f, #0c0219, #761769);
    background-size: 400% 400%;
    animation: moveGradient var(--bg-speed, 25s) ease infinite;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#vs {
    width: 95vw;
    height: 70vh;
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5))
}

#input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    pointer-events: none;
}

.custom-upload {
    margin: 10px;
    display: inline-block;
    padding: 14px 28px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 0px solid rgba(255, 255, 255, 0);
    border-radius: 4px;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease;
    user-select: none;
}

.custom-upload:hover {
    background-color: white;
    color: black;
    border-color: white;
}

.custom-upload:active {
    transform: scale(0.95);
    background-color: rgba(255, 255, 255, 0.8);
}

#clear-btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 0px solid rgba(255, 255, 255, 0);
    border-radius: 4px;
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease;
    user-select: none;
}

#clear-btn:hover {
    background-color: white;
    color: black;
    border-color: white;
}

#clear-btn:active {
    transform: scale(0.95);
    background-color: rgba(255, 255, 255, 0.8);
}

p {
    transition: all 0.2s ease;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.332);
    cursor: pointer;
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 7px;
}

p:hover {
    color: rgb(187, 120, 251);
}